<%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">

    </head>

    <body>
        <%- include('../includes/navigation') %>


            <main>
                <h1>My Products</h1>
                <!-- in opening and closing tags (<% %>) we can add vanilla JS -->
                <% if(prods.length>0){ %>
                    <div class="grid">
                        <% for(let product of prods) {%>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product_title">
                                        <%= product.title%>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= product.imageUrl %>" alt="Img">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$ <%= product.price%>
                                    </h2>
                                    <p class="product__description">
                                        <%= product.description%>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <% if(isAuthenticated){ %>
                                        <%- include('../includes/add-to-cart',{product:product}) %>
                                    <% } %>

                                </div>
                                <div class="card__actions">
                                    <!-- This link goes to address like : /products/42323 -->
                                    <!-- ._id , as made by mongoDB  is stored as ObjectId("5vaasdkjasdka")-->
                                    <a href="/products/<%= product._id %>" class="btn"> Details</a>
                                </div>
                            </article>
                            <% } %>
                    </div>

                    <% } else { %>
                        <h1>NO PRODUCT FOUND</h1>
                        <%} %>
            </main>

            <%- include('../includes/end') %>