<!-- Same as product-list of Shop folder BUT Add to cart replaced by edit/delete button -->
<%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">

    </head>

    <body>
        <%- include('../includes/navigation') %>

            <main>
                <h1>My Products</h1>
                <!-- in opening and closing tags (<% %>) we can add vanilla JS -->
                <% if(prods.length>0){ %>
                    <div class="grid">
                        <% for(let product of prods) {%>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product_title">
                                        <%= product.title%>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <!-- we add / before,  to make it absolute path and not append it to URL -->
                                    <img src="/<%= product.imageUrl %>" alt="Img">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$ <%= product.price%>
                                    </h2>
                                    <p class="product__description">
                                        <%= product.description%>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <!-- we want to edit/delete a specific product, so we need to change the href dynamically -->
                                    <!-- We will add this thing in next module , similarly Delete -->
                                    <!-- Delete can be a form Which sends a POST req to delete something -->
                                    <div class="button-container">
                                        <button class="btn"> <a href="/admin/edit-product/<%=product._id %>?edit=true"
                                                class="button_link">Edit</a></button>


                                        <form action="/admin/delete-product" method="POST">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                            <input type="hidden" value="<%= product._id%>" name="productId">
                                            <button class="btn" type="submit">Delete</button>
                                        </form>
                                    </div>

                                </div>
                            </article>
                            <% } %>
                    </div>

                    <% } else { %>
                        <h1>NO PRODUCT FOUND</h1>
                        <%} %>
            </main>

            <%- include('../includes/end') %>